<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-bluetooth-printer-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BluetoothPrinter</name>
    <description>Cordova Plugin to check Bluetooth, capture screenshot, and print using ESC/POS compatible printer.</description>
    <license>MIT</license>
    <keywords>bluetooth, esc/pos, print, screenshot</keywords>
    
    <!-- Android permissions -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>

        <source-file src="src/android/BluetoothPrinter.java" target-dir="src/com/example/bluetoothprinter" />
    </platform>
</plugin>
